# Données utilisateur
examples/
*.b3

# Résultats
resultats/
integrity_resultats/

# Tests
tests/

# Documentation
docs/
site/
autre/
reports/
*.md
!README.md

# Fichiers temporaires
*temp*
*.tmp
*.log
*.bak
temp.txt

# Outils de dev
.git/
.gitignore